.my-img
{
    width: 340px;
    height:500px;
    overflow: hidden;
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.my-img img
{
    max-height: 340px;
    max-height: 500px;
background: cover;
}
.card-img
{
    float:right;
}